{% extends 'master.html' %}

{% load static %}

{% block title %}Signup{% endblock %}

{% block content %}
<style>
    .bor{
        border-radius: 20px;
    }
</style>

<div class="container-fluid mt-5">
  <div class="row align-items-start">
    <div class="col-sm-3">
    </div>
        <form class="col-sm-6 card shadow bor" method="post">{% csrf_token %}
            <div class="m-2 p-2 text-center card-title">
              <h4 class="p-2">Sign up</h4>
            </div>
            <div class="card-body m-2">
                <div class="group-control m-2">
                    <input class="form-control text-center" type="text" name="username" maxlength="35"
                           placeholder="Username" autofocus required>
                </div>
                <div class="group-control m-2">
                    <input class="form-control text-center" type="email" name="email" maxlength="30"
                            placeholder="Email@example.com" required>
                </div>
                <div class="group-control m-2">
                    <input class="form-control text-center" type="password" name="password1"
                            placeholder="Password">
                </div>
                <div class="group-control m-2">
                    <input class="form-control text-center" type="password" name="password2"
                            placeholder="Confirm password">
                </div>
                <div class="group-control m-2">
                    <div class="form-check form-switch mx-5">
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                            name="regiment" required>
                      <label class="form-check-label" for="flexSwitchCheckDefault">
                          read <a href="#">regiment</a> and confirm
                      </label>
                    </div>
                </div>
            </div>
            <div class="card-footer m-2 text-center row ">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <button class="btn btn-outline-primary col-sm-12 mt-2" type="submit">Sign up</button>
                </div>
                <div class="col-sm-2"></div>
            </div>
            </form>
    <div class="col-sm-3">
    </div>
  </div>
</div>
{% endblock %}
