body{
    background-color: lightgray;
}

.b{
    border: solid;
}

.text{
    color: gray;
    text-decoration: none;
}
.text:hover{
    color: orangered;
}

.nor-text{
    color: gray;
    text-decoration: none;
}

.nor-text:hover{
    color: gray;
    text-decoration: none;
}

.not-visible{
    display: none;
}
