
hr{
    color: gray;
}

.colum1{
    height: 180px;
}

.colum2{
    height: 80px;
}

.colum3{
    height: 200px;
}

.bord{
    border-radius: 20px;
}
.worlds{
    color: gray;
    text-decoration: none;
    transition: 0.4s;
}

.worlds:hover{
    color: orangered;
    background-color: lightgray;
}

.lis-worlds{
    color: gray;
    text-decoration: none;
    transition: 0.5s;
}
.lis-worlds:hover{
    color: orangered;

}
