{% extends 'master.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/home.js' %}" defer></script>
{% endblock %}

{% block content %}

<div class="container-fluid mt-4">
    <div class="row">
        <!--    First column    -->
        <div class="b col-md-3 me-auto colum1 bg-dark">
            <ul class="list-group">
                <a href="{% url 'accounts:profile' request.user.profile.slug %}" class=" btn me-auto col-12"><li class="list-group-item bg-dark lis-worlds" aria-current="true">{{request.user.username}}</li></a>
                <a href="" class=" btn me-auto col-12"><li class="list-group-item bg-dark lis-worlds" aria-current="true">Friends</li></a>
                <a href="" class=" btn me-auto col-12"><li class="list-group-item bg-dark lis-worlds" aria-current="true">Groups</li></a>
            </ul>
        </div>
        <!--   Second column     -->
        <div class=" col-md-6 colum2">
            <div class="p-2 text-center bg-dark bord">
                <a class="worlds btn mb-1" href="#"><i class="fa-solid fa-plus mx-2"></i> Create post</a>
            </div>
            <br/>
            <div class="p-3 nor-text">
                {% include 'blogs/posts.html' %}
            </div>
        <div class="text-center mt-3" id="post-spinner">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        </div>
        <!--   Third column     -->
        <div class="b col-md-2 ms-auto colum3 bg-dark">
            <h4 class="nor-text p-3"><i class="fa-solid fa-rectangle-list"></i> Friend list</h4>
            <ul class="list-group">
                <a class="row nor-text" href="#"><li class="list-group-item bg-dark lis-worlds" aria-current="true">{{request.user.username}}</li></a>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
